@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


/*cool red color: #e81c4f; */

/*########BODY##########*/

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

/*########NAV###########*/

.nav {
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}

.nav li{
    display:inline;
}

.nav a {
    font-family:Arial,sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   display: inline-block;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
/*########HEADER###########*/
header {
  background-color: #263d36;
  background-image: url("../img/spacex-101796-unsplash.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 2px solid #4CAF50;
  border-radius: 290486px;
  color: white;
  font-size: 1em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #4CAF50;
  color: white;
}

/*#######CONTENT#########*/


h1 {
  margin-top: 1em;
  text-align: center;
}
.content p {
  text-align: justify;
  text-justify: inter-word;
}
h1,
h2,
strong {
  color: #333;
}

.content{
  margin: 0 auto;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

.center{
  padding-right: 20%;
  padding-left: 20%;
}

.padding64{
  padding-top: 64px;
  padding-bottom: 64px;
}

.black {
  background-color:#333;
  color: white !important;
}

.black h1{
  color: white !important;
}

